<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
{{>navbar}}
<body class="abody" style="background-color:#ADDFAD">
<div class="arow">
  <div class="acolumn">
   <article>
     <h1>About Us</h1>
     <blockquote>Ever since industrialization started the care for plants has made it to our least priority
list, Even though mankind requires plants to balance the food chain that he’s a part of,
but the plant enthusiasts are everywhere, be it big metropolitan cities or rural areas, so
we aim to bring in a platform that can connect these plant/nature enthusiasts and help
them exchange/sell them plants or donate seeds/plants as part of the green initiative
that we started 2 years back.</blockquote>
<h5><q>Leaf Now</q></h5>
   </article>
    </div>
  </div>
</body>
</html>