<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body class="indexbody">
    {{>navbar}}

<section id="sectcontainer">
    <div class="div1"> <span>Leaf Now</span>
                        <h3><q>To plant a garden is <br>to believe in tomorrow</q></h3>
 <button type="button" class="signi"><a href="/register">Register</a></button> 
</div>
    <div class="div2"> <img src="https://th.bing.com/th/id/OIP.nhl9JduFgK8hdwvP7BMNvQHaIX?pid=ImgDet&rs=1" class="img" width="70%"> </div>
</section>

</body>

</html>