<!DOCTYPE html>
<html>
    <head>
        <title>Generics</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="categories.css" />
    </head>
    {{>navbar}}
    <body class="pbody">        
            <h1 class="ph1"><center style="color: #fff;">Categories</center></h1>
            <table id="table">
                <tr>
                    <td>
                        <div class="pdiv1">
                        <img src="image/plant5.jpg" style="width: 40%;">
                        <h3>Plants</h3>
                        <a href="store">
                        <button class="pbtn btn1">SELECT</button>
                        </a>
                        <br/><br/>
                        </div>
                    </td>
                    <td>
                        <div class="pdiv1">
                        <img src="image/seed2.jpg" style="width: 40%;">
                        <h3 class="ph3">Seeds</h3>
                        <a href="store">
                        <button class="pbtn btn2"><a href="/store" style="text-decoration: none;color:#fff">SELECT</a></button>
                        </a>
                        <br/><br/>
                        </a>
                        </div>
                    </td>
                </tr>
            </table>
    </body>
</html>